{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
  },
  "plugins": [
    "prettier",
    "flowtype"
  ],
  "extends": [
    "prettier",
    "prettier/flowtype",
    "prettier/react"
  ],
  "rules": {
    "prettier/prettier": [
      2,
      {
        "trailingComma": "none",
        "singleQuote": true
      }
    ]
  }
}
